.bill-button {
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff61;
  background: #607d8ba8;
  border-radius: 5px;

  &--active {
    cursor: pointer;
    color: #426469;
    background: #fff;
  }
}
