.tip-calculator {
  width: 900px;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 0 30px;
}
