.date-time {
  width: 40%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 40px;
  color: #ffffff;
  text-align: right;
  z-index: 2;
}
