.todo-holder {
  max-width: 1000px;
  width: 100%;
  max-height: calc(100vh - 200px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.side {
  text-align: center;
  h1 {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    color: #007fdb;
  }

  img {
    width: 400px;
    object-fit: cover;
  }
}

.todo {
  width: 500px;
  border-radius: 10px;
  background-color: #eeeeee;
  height: 100%;

  &__header {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
    background-color: red;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -100px;
      border-radius: 10px 10px 0 0;
    }
  }

  &__wrapper {
    padding: 30px;
  }

  &__items {
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
}
