.card {
  &__star-holder {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #262e38;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #969fad;
  }

  &__rate-holder {
    margin: 24px 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}
