.evalueted {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  &__quantity {
    padding: 5px 20px;
    background-color: #262e38;
    border-radius: 30px;
    color: #fc7614;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #969fad;
  }

  &__button {
    margin-top: 30px;
    cursor: pointer;
    width: 50%;
    background-color: #fc7614;
    color: #fff;
  }
}
